@import "@fortawesome/fontawesome-free/css/all.min.css";
/* all */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #051922;
}
span {
    color: #499a12;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
}