/* shop search filters */
.search-row {
    align-items: center;
}
/* sort to be implemented later */
.sort-products {
    display: none;
}
.search-filters .search {
    margin: 100px 20px 50px 10px;
    border: 1px solid green;
    padding: 1px 1px;
    border-radius: 4px;
    color: #03131A;
}
.search input {
    font-size: 15px;
    font-family: 'Poppins';
    padding: 8px 100px 8px 25px;
    border: 0;
    outline: none;
}
#search-btn {
    display: inline-block;
    background-color: white;
    color: green;
    padding: 2px 5px 2px 5px;
    border: 1px solid green;
    margin-right: 5px;
    border-radius: 4px;
}
/* shop display styles */
.products-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop-product-item {
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 4px 12px rgba(75, 90, 113, 0.2);
    margin: 10px 5px;
    padding: 0px 0px 40px 0px;
    transition: 0.3s ease-in-out;
}
.shop-product-itm-ln {
    display: block;

}
.shop-product-item:hover {
    transform: scale(1.1);
}
.shop-product-item {
    text-align: center;
}
.shop-product-item p {
    margin: 0px auto;
}
.shop-product-item h3 {
    margin-bottom: 5px;
}
.shop-product-item img {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
}
.product-price {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.product-name {
    letter-spacing: 0.3px;
}
button.add-to-cart {
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #5ba515;
    background-color: white;
    color: green;
    padding: 10px 10px;
    letter-spacing: 0.6px;
    border-radius: 50px;
}
.shop-product-meta button:hover {
    cursor: pointer;
}
/* sale badge */
.sale-badge {
    background: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    color: green;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 1;
}
.sale-badge i {
    font-size: 14px;
}
.shop-product-img {
    position: relative;
}

/* drop down */
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 100px 20px 50px 10px;
    border: 1px solid green;
    padding: 1px 1px;
    border-radius: 4px;
}

/* Dropdown button */
.dropbtn {
    background-color: white;
    font-family: 'Poppins';
    color: #5ba515;
    padding: 7px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

/* Dropdown links */
.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown when hovering */
.dropdown:hover .dropdown-content {
    display: block;
}