.product-details {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.single-product-img {
    margin-right: 50px;
}
.single-product-img img{
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(75, 90, 113, 0.5);
    border-radius: 4px;
}
.stock-qty p {
    color: grey;
    display: block;
    border: 1px solid lightgray;
    width: 75px;
    padding: 5px 10px;
    border-radius: 4px;
}
.product-info-cgtry span {
    font-weight: 600;
    padding: 20px 1px;
}
button.single-product-cart-btn {
    display: inline-block;
    margin-top: 5px;
    background-color: white;
    color: green;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0px 4px 12px rgba(75, 90, 113, 0.5);
    border: 0;
    font-weight: 600;
    font-size: 1rem;
}
button.single-product-cart-btn:hover {
    cursor: pointer;
}
.product-info h3 {
    padding-top: 10px;
    font-size: 22px;
}
.product-info h4 {
    font-size: 35px;
}