<!-- templates layout.html -->
{% extends 'layout.html' %}
{% block title %} Cart - Innovation Hub {% endblock %}
{% block page_head %}
    <p class="subtitle">REMADE TO LOOK CLEAN</p>
    <h1>Cart</h1>
{% endblock %}
{% block page_content %}
    <!-- extends from the other pages (header - footer) -->
    <div class="cart-section">
        <div class="container">
            <div class="row">
                <div class="cart-items">
                    <table class="cart-info-tb">
                        <tr class="cart-info-hdr">
                            <th>N0</th>
                            <th>Product Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        <tr class="cart-tb-rw">
                            <td>1</td>
                            <td><img src="" alt="" width="100px"></td>
                            <td>Light-blue Bulb</td>
                            <td>$15</td>
                            <td>1</td>
                            <td>$10</td>
                        </tr>
                        <tr class="cart-tb-rw">
                            <td>2</td>
                            <td><img src="" alt="" width="100px"></td>
                            <td>Green-glass Bulb</td>
                            <td>$5</td>
                            <td>1</td>
                            <td>$20</td>
                        </tr>
                        <tr class="cart-tb-rw">
                            <td>3</td>
                            <td><img src="" alt="" width="100px"></td>
                            <td>chewy-bliss Bulk</td>
                            <td>$15</td>
                            <td>1</td>
                            <td>$35</td>
                        </tr>
                    </table>
                </div>
                <div class="cart-summary">
                    <div class="cart-total">

                    </div>
                    <table class="cart-summary-tb">
                        <tr class="cart-summary-header">
                            <th>Total</th>
                            <th>Price</th>
                        </tr>
                        <tr class="cart-summary-rw">
                            <td>Subtotal</td>
                            <td>$35</td>
                        </tr>
                        <tr class="cart-summary-rw">
                            <td>Shipping</td>
                            <td>$5</td>
                        </tr>
                        <tr class="cart-summary-rw">
                            <td>Total</td>
                            <td>$40</td>
                        </tr>
                    </table>
                    <div class="check-out-btn">
                        <a href="#">Update Cart</a>
                        <a href="checkout/html">Check Out</a>
                    </div>
                    <div class="coupon">
                        <h3>Apply Coupon</h3>
                        <form action="">
                            <input type="text" name="" id="coupon">
                            <input type="submit" name="" id="coupon-submit" value="APPLY">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}