<!-- templates layout.html -->
{% extends 'layout.html' %}
{% block title %} Cart - Innovation Hub {% endblock %}
{% block page_head %}
    <p class="subtitle">THANK YOU FOR CHOOSING</p>
    <h1>Checkout</h1>
{% endblock %}
{% block page_content %}
    <!-- extends from other products -->
    <div class="check-out-section">
        <div class="container">
            <div class="row">
                <div class="billing-address">
                    <h4>Billing & Shipping Address</h4>
                    <form action="">
                        <div class="billing-address-box">
                            <input type="text" name="buyer-name" id="" placeholder="Name"><br>
                            <input type="email" name="buyer-email" id="" placeholder="Email"><br>
                            <input type="text" name="shipping-address" id="" placeholder="Adress"><br>
                            <input type="tel" name="buyer-phone" id="" placeholder="Phone"><br>
                            <textarea rows="3" cols="10" placeholder="Something Else ?"></textarea><br>

                        </div>
                        <input type="submit" name="" id="submit-btn" value="Place Order"><br>
                    </form>
                </div>
                <div class="order-details">
                    <table>
                        <tr>
                            <th>Order Details</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>item 1</td>
                            <td>$5.00</td>
                        </tr>
                        <tr>
                            <td>item 2</td>
                            <td>$10.00</td>
                        </tr>
                        <tr>
                            <td>item 3</td>
                            <td>$15.00</td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td>$5.00</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>$10.05</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$50</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}