<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="footer-tabs">
                <div class="upper-footer">
                    <div class="footer-section">
                        <h2 class="footer-heading">About <span>Us</span></h2>
                        <p>We are a platform that bridges the gap between pollution and
                            art, empowering artists who transform recycled materials into
                            breathtaking masterpieces. Our mission is to give these
                            creators visibility while promoting sustainable living through
                            ethical commerce. Join us in turning waste into wonder—one
                            artwork at a time.</p>
                    </div>
                    <div class="footer-section">
                        <h2 class="footer-heading">Quick Links</h2>
                        <ul>
                            <li><span>> </span><a href="{% url 'webstore:home' %}">Home</a></li>
                            <li><span>> </span><a href="{% url 'webstore:shop' %}">Shop</a></li>
                            <li><span>> </span><a href="{% url 'webstore:about' %}">About us</a></li>
                            <li><span>> </span><a href="#blog">Blog</a></li>
                            <li><span>> </span><a href="{% url 'webstore:contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h2 class="footer-heading">Get in Touch</h2>
                        <ul>
                            <li>Email: support@recycleart.com</li>
                            <li>Phone: +250 791275915</li>
                            <li>Location: Masoro, Kigali - Rwanda</li>
                        </ul>
                    </div>
                </div>
                <div class="copyright">
                    <div><p> &copy; 2025 <span>Transformer Innovation Hub</span> | All rights reserved</p></div>
                    <div class="social-icon">
                        <ul>
                            <li>facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>LinkedIn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>