<!-- templates layout.html -->
{% extends 'layout.html' %} {% block title %}Shop - Innovation Hub{% endblock %}
{% block page_head %}
    <p class="subtitle">FASHIONED INTO A NEW LOOK</p>
    <h1>Shop</h1>
{% endblock %}
{% block page_content %}
<div class="search-filters">
  <div class="container">
    <div class="row search-row">
      <div class="search">
        <form action="">
          <input type="text" name="" id="" placeholder="Search product" />
          <!-- search-icon to implement submit -->
          <input type="submit" name="" id="search-btn" value="search" />
        </form>
      </div>
      <div class="dropdown">
        {% if category %}
          <button class="dropbtn">Categories: {{ category }} &nbsp; <i class="bi bi-chevron-down"></i></button>
        {% else %}
          <button class="dropbtn">Categories: All &nbsp; <i class="bi bi-chevron-down"></i></button>
        {% endif %}
        <div class="dropdown-content">
          <a href="{% url 'webstore:shop' %}">All</a>
          <a href="{% url 'webstore:category' 'Metal' %}">Metal</a>
          <a href="{% url 'webstore:category' 'Plastic' %}">Plastic</a>
          <a href="{% url 'webstore:category' 'Paper' %}">Paper</a>
          <a href="{% url 'webstore:category' 'Glass' %}">Glass</a>
          <a href="{% url 'webstore:category' 'Wood' %}">Wood</a>
        </div>
      </div>
      <div class="sort-products">
        <label for="sort-form"></label>
        <div class="sort-form">
          <form action="" class="sort-form-block">
            <label for="">Sort By: </label>
            <input type="text" name="" id="" />
            <!-- drop -down list -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="product-display">
        <div class="container">
            <div class="row">
                <div class="products-view">
                    {% for item in products %}
                        {% if item.is_sale %}
                            <div class="shop-product-item">
                              <a href="{% url 'webstore:product' item.id %}" class="shop-product-itm-ln">
                                <div class="shop-product-img">
                                    <span class="sale-badge"><i class="fas fa-tags"></i> Sale</span>
                                    <img src="{{ item.image.url }}" alt="">
                                </div>
                              </a>
                              <div class="shop-product-meta">
                                  <h4>{{ item.name }}</h4>
                                  <p class="product-price">
                                      <strike style="color: #5ba515;">${{ item.price }}</strike>
                                      &nbsp;
                                      ${{ item.sale_price }}
                                  </p>
                                  <button type="button" value="{{ item.id }}" class="add-to-cart" id="add-to-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                              </div>
                            </div>
                        {% else %}
                            <div class="shop-product-item">
                              <a href="{% url 'webstore:product' item.id %}" class="shop-product-itm-ln">
                                <div class="shop-product-img">
                                    <img src="{{ item.image.url }}" alt="">
                                </div>
                              </a>
                              <div class="shop-product-meta">
                                  <h4>{{ item.name }}</h4>
                                  <p class="product-price">${{ item.price }}</p>
                                  <button type="button" value="{{ item.id }}" class="add-to-cart" id="add-to-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<div class="pages-change">
  <div class="container">
    <div class="row">
      <div class="pg-change-icon">
        <a href="#" class="pg-change-link"> < </a>
        <a href="#" class="pg-change-link"> 1 </a>
        <a href="#" class="pg-change-link"> 2 </a>
        <a href="#" class="pg-change-link"> ... </a>
        <a href="#" class="pg-change-link"> > </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
