<!-- templates layout.html -->
{% extends 'layout.html' %}
{% block title %}Product - Innovation Hub{% endblock %}

{% block page_content %}
    <!-- extends from other pages -->
    <div class="single-product">
        <div class="container">
            <div class="row">
                <div class="product-details">
                    {{ for  }}
                    <div class="single-product-img">
                        <img src="/static/img/products/art-necklace.webp" alt="">
                    </div>
                    <div class="product-info">
                        <h3>Product Name</h3>
                        <p>Per Piece</p>
                        <h4>$50</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit suscipit adipisci quaerat, laudantium expedita dicta commodi nihil in labore Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, beatae provident,</p>
                        <div class="stock-qty">
                            <p>15</p>
                        </div>
                        <div class="product-info-cgtry">
                            <p><span>Category:</span> Plastic, Paper</p>
                        </div>
                        <div class="add-to-cart">
                            <a href=""><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- related product -block will be copied from other pages -->
    <!-- extends from other pages -->
{% endblock %}