html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  position: fixed;
  z-index: 1000;
  margin-top: -30px;
  background-color: rgb(238, 193, 134);
}

.logo {
}

.logo img {
  width: 190px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 250px;
  font-size: 1.2rem;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #f26a2e;
  text-decoration: underline;
  transition: 0.3s;
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  font-size: 1.5rem;
  margin-right: 20px;
  cursor: pointer;
}

.icons i:hover {
  color: #f26a2e;
  transition: 0.3s;
}

/* #menu {
  display: none;
} */

/* ==========Hero================== */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/hero.jpg);
  background-size: cover;
}

.hero-inside {
  display: flex;
  flex-direction: column;
  padding: 60px;
  margin-top: -100px;
  width: 45%;
  height: 45%;
  position: relative;
  left: 200px;
  top: 100px;
  background-color: antiquewhite;
}

.hero-inside h1 {
  font-size: 3rem;
  line-height: 50px;
  color: #b78f2e;
  margin-bottom: 20px;
}

.hero-inside p {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 20px;
}

.hero-inside button {
  padding: 15px 20px;
  width: 200px;
  margin-top: 25px;
  border: none;
  background-color: #b78f2e;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero-inside button a {
  text-decoration: none;
  color: #fff;
}
.hero-inside button:hover {
  background-color: #e4a78e;
  transition: 0.3s;
}

/* Banner */
#banner {
  margin-top: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #b78f2e;
}

.bannercontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px;
  background-color: antiquewhite;
}

.banner-in {
  display: flex;
}

.banner-in {
  transition: 0.3s;
}

.banner-in .iconn {
  font-size: 2rem;
  color: black;
  margin-top: 4px;
  width: 50px;
}

.banner-in :hover {
  font-size: 1.2rem;
  color: #000;
  transition: 0.3s;
}

/* ==========Featured categories================== */

.featured-categories {
  height: 1000px;

  margin-top: 80px;
}

.title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  width: 98%;
  justify-content: space-around;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -10px;
}

.categoyyBox {
  display: flex;
  flex-direction: column;
  /* background-color: #4fb76e; */
  width: 300px;
  height: 400px;
  margin-right: 3px;
}

.categoyyBox img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: 0.3s;
}

.categoyyBox .titre {
  font-size: 1rem;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
  transition: 0.3s;
}

.artCollection {
  display: flex;
  /* background-color: #e4a78e; */
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
}

.title2 {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.pro-container {
  display: flex;
  /* background-color: aqua; */
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

/* .product-box {
  display: flex;
  flex-direction: column;
  background-color: #b78f2e;
  width: 230px;
  height: 500px;
  margin-right: 3px;
} */

.product-box {
  background-color: #fff;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-image-container {
  width: 90%;
  height: 400px; /* Set fixed height for the image container */
  overflow: hidden;
  display: flex;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px;
}
.product-info {
  padding: 18px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.artist-name {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.rating {
  margin: 10px 0;
}

.rating i {
  color: #f5c518;
  font-size: 18px;
}

.price {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
  font-weight: bold;
}

.cart-icon i {
  font-size: 30px;
  color: #333;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cart-icon:hover i {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 200px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #b78f2e;
  margin-bottom: 50px;
}

.show-more a {
  color: white;
  transition: 0.3s;
}

.show-more:hover {
  transition: 0.3s;
}

.newsletter {
  background: #f2dd96;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.newsletter h1 {
  margin-bottom: 10px;
}

.newsletter p {
  color: #666;
  font-size: 14px;
}

.newsletter input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.newsletter button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #d19336a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.newsletter button:hover {
  background-color: #b37400;
}

.footer {
  background-color: #b37400;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 85px;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-links {
  margin: 10px 0;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.footer-links a:hover {
  color: white;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #b78f2e;
}
